.auth{
    padding: 3rem;
}

.signup-form ,  .login-form {
    margin: 2rem auto !important;
}

div#nav-tab {
    width: 38vw;
}

.signup-form input , .login-form input{
    width: 38vw;
}

.errors{
    color: red;
    margin: 10px 0px;
}